 
# Which cryptocurrency will be the next Bitcoin? (Based on historical yearly growth)

In [154]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
plt.style.use('ggplot')
%matplotlib inline

In [155]:
crypto_df = pd.read_csv("CryptocoinsHistoricalPrices.csv")

In [156]:
crypto_df.columns

Index(['Unnamed: 0', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume',
       'Market.Cap', 'coin', 'Delta'],
      dtype='object')

In [157]:
crypto_df.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market.Cap,coin,Delta
0,1,2018-01-04,15270.7,15739.7,14522.2,15599.2,"21,783,200,000","256,250,000,000",BTC,0.021512
1,2,2018-01-03,14978.2,15572.8,14844.5,15201.0,"16,871,900,000","251,312,000,000",BTC,0.014875
2,3,2018-01-02,13625.0,15444.6,13163.6,14982.1,"16,846,600,000","228,579,000,000",BTC,0.099604
3,4,2018-01-01,14112.2,14112.2,13154.7,13657.2,"10,291,200,000","236,725,000,000",BTC,-0.032242
4,5,2017-12-31,12897.7,14377.4,12755.6,14156.4,"12,136,300,000","216,326,000,000",BTC,0.097591

In [158]:
#determine total number of altcoins
crypto_df["coin"].nunique()

1356

In [159]:
#top 15 Cryptocurrencies with market caps greater than $1Billion
 
top15 = crypto_df.loc[(crypto_df["coin"]=="BTC")|(crypto_df["coin"]=="ETH")|
                      (crypto_df["coin"]=="LTC")|(crypto_df["coin"]=="MIOTA")|
                      (crypto_df["coin"]=="XRP")|(crypto_df["coin"]=="DASH")|
                      (crypto_df["coin"]=="XEM")|(crypto_df["coin"]=="XMR")|
                      (crypto_df["coin"]=="BTG")|(crypto_df["coin"]=="ETC")|
                      (crypto_df["coin"]=="ADA")|(crypto_df["coin"]=="EOS")|
                      (crypto_df["coin"]=="XLM")|(crypto_df["coin"]=="NEO")|
                      (crypto_df["coin"]=="BCC")
                      ,:]

 
top15.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market.Cap,coin,Delta
0,1,2018-01-04,15270.7,15739.7,14522.2,15599.2,"21,783,200,000","256,250,000,000",BTC,0.021512
1,2,2018-01-03,14978.2,15572.8,14844.5,15201.0,"16,871,900,000","251,312,000,000",BTC,0.014875
2,3,2018-01-02,13625.0,15444.6,13163.6,14982.1,"16,846,600,000","228,579,000,000",BTC,0.099604
3,4,2018-01-01,14112.2,14112.2,13154.7,13657.2,"10,291,200,000","236,725,000,000",BTC,-0.032242
4,5,2017-12-31,12897.7,14377.4,12755.6,14156.4,"12,136,300,000","216,326,000,000",BTC,0.097591

# Historical Growth( Percentage/Slope)

In [160]:
# Saving all my sorted_extracted data to the csv file 
top15.to_csv('./top15.to_csv.csv')

In [161]:
# Reading the historical data for calculating the slope percentage with top15 coin data.
# Replace NaN with blank/empty string

top15_yearlyclose_df = pd.read_csv("Top15HistoricalOpenClosePrices.csv", na_filter=False)
top15_yearlyclose_df.columns

Index(['Top15 Coins', '2013 Start Date', '2013 Start Price', '2013 End Date',
       '2013 End Price', '2013 Delta', '2013 Slope% Change', '2014 Start Date',
       '2014 Start Price', '2014 End Date', '2014 End Price', '2014 Delta',
       '2014 Slope% Change', '2015 Start Date', '2015 Start Price',
       '2015 End Date', '2015 End Price', '2015 Delta', '2015 Slope% Change',
       '2016 Start Date', '2016 Start Price', '2016 End Date',
       '2016 End Price', '2016 Delta', '2016 Slope% Change', '2017 Start Date',
       '2017 Start Price', '2017 End Date', '2017 End Price', '2017 Delta',
       '2017 Slope% Change', '2018 Start Date', '2018 Start Price',
       '2018 End Date', '2018 End Price', '2018 Delta', '2018 Slope% Change'],
      dtype='object')

In [162]:
top15_yearlyclose_df

,Top15 Coins,2013 Start Date,2013 Start Price,2013 End Date,2013 End Price,2013 Delta,2013 Slope% Change,2014 Start Date,2014 Start Price,2014 End Date,...,2017 End Date,2017 End Price,2017 Delta,2017 Slope% Change,2018 Start Date,2018 Start Price,2018 End Date,2018 End Price,2018 Delta,2018 Slope% Change
0,ADA,,,,,,,,,,...,12/31/17,$0.72,$0.70,2782%,1/1/18,$0.73,1/4/18,$1.11,$0.38,52%
1,BCC,,,,,,,,,,...,12/31/17,$418.96,$418.12,49660%,1/1/18,$385.50,1/4/18,$428.53,$43.03,11%
2,BTC,4/28/13,$134.21,12/31/13,754.01,$619.80,462%,1/1/14,$771.40,12/31/14,...,12/31/17,"$14,156.40","$13,158.07",1318%,1/1/18,"$13,657.20",1/4/18,"$15,599.20","$1,942.00",14%
3,BTG,,,,,,,1/20/14,$3.00,12/20/14,...,12/22/17,$305.73,$51.28,20%,,,,,,
4,DASH,,,,,,,1/20/14,$0.94,12/31/14,...,12/31/17,"$1,051.68","$1,040.45",9265%,1/1/18,"$1,053.98",1/4/18,"$1,229.79",$175.81,17%
5,EOS,,,,,,,,,,...,12/31/17,$8.77,$7.76,768%,1/1/18,$8.84,1/4/18,$11.28,$2.44,28%
6,ETC,,,,,,,,,,...,12/31/17,$28.00,$26.60,1900%,1/1/18,$34.17,1/4/18,$36.32,$2.15,6%
7,ETH,,,,,,,,,,...,12/31/17,$756.73,$748.56,9162%,1/1/18,$772.64,1/4/18,$980.92,$208.28,27%
8,LTC,4/28/13,$4.35,12/31/13,24.35,$20.00,460%,1/1/14,$24.62,12/31/14,...,12/31/17,$232.10,$227.59,5046%,1/1/18,$229.03,1/4/18,$241.37,$12.34,5%
9,MIOTA,,,,,,,,,,...,12/31/17,$3.55,$2.96,501%,1/1/18,$3.97,1/4/18,$4.08,$0.11,3%
10,NEO,,,,,,,,,,...,12/31/17,$75.96,$75.82,53453%,1/1/18,$78.82,1/4/18,$99.11,$20.29,26%
11,XEM,,,,,,,,,,...,12/31/17,$1.03,$1.03,29842%,1/1/18,$1.04,1/4/18,$1.64,$0.60,58%
12,XLM,,,,,,,8/5/14,$0.00,12/31/14,...,12/31/17,$0.36,$0.36,14441%,1/1/18,$0.48,1/4/18,$0.72,$0.24,51%
13,XMR,,,,,,,5/21/14,$1.60,12/31/14,...,12/31/17,$349.03,$335.06,2398%,1/1/18,$358.99,1/4/18,$403.05,$44.06,12%
14,XRP,8/4/13,$0.01,12/31/13,0.02733,$0.02,365%,1/1/14,$0.03,12/31/14,...,12/31/17,$2.30,$2.29,36018%,1/1/18,$2.39,1/4/18,$3.20,$0.81,34%

In [163]:
yoy_closeprice = top15_yearlyclose_df[["2013 Slope% Change","2014 Slope% Change","2015 Slope% Change","2016 Slope% Change","2017 Slope% Change","2018 Slope% Change","Top15 Coins"]] 
yoy_closeprice

,2013 Slope% Change,2014 Slope% Change,2015 Slope% Change,2016 Slope% Change,2017 Slope% Change,2018 Slope% Change,Top15 Coins
0,,,,,2782%,52%,ADA
1,,,,,49660%,11%,BCC
2,462%,-58%,37%,122%,1318%,14%,BTC
3,,-20%,,,20%,,BTG
4,,110%,69%,232%,9265%,17%,DASH
5,,,,,768%,28%,EOS
6,,,,52%,1900%,6%,ETC
7,,,-66%,741%,9162%,27%,ETH
8,460%,-89%,29%,23%,5046%,5%,LTC
9,,,,,501%,3%,MIOTA
10,,,,-74%,53453%,26%,NEO
11,,,-38%,2169%,29842%,58%,XEM
12,,126%,-68%,41%,14441%,51%,XLM
13,,-73%,1%,2668%,2398%,12%,XMR
14,365%,-9%,-75%,8%,36018%,34%,XRP

In [166]:
y2018 = top15_yearlyclose_df[["2018 Slope% Change", "2018 Start Date","2018 Start Price","2018 End Date","2018 End Price", "2018 Delta", "Top15 Coins"]]
y2018

,2018 Slope% Change,2018 Start Date,2018 Start Price,2018 End Date,2018 End Price,2018 Delta,Top15 Coins
0,52%,1/1/18,$0.73,1/4/18,$1.11,$0.38,ADA
1,11%,1/1/18,$385.50,1/4/18,$428.53,$43.03,BCC
2,14%,1/1/18,"$13,657.20",1/4/18,"$15,599.20","$1,942.00",BTC
3,,,,,,,BTG
4,17%,1/1/18,"$1,053.98",1/4/18,"$1,229.79",$175.81,DASH
5,28%,1/1/18,$8.84,1/4/18,$11.28,$2.44,EOS
6,6%,1/1/18,$34.17,1/4/18,$36.32,$2.15,ETC
7,27%,1/1/18,$772.64,1/4/18,$980.92,$208.28,ETH
8,5%,1/1/18,$229.03,1/4/18,$241.37,$12.34,LTC
9,3%,1/1/18,$3.97,1/4/18,$4.08,$0.11,MIOTA
10,26%,1/1/18,$78.82,1/4/18,$99.11,$20.29,NEO
11,58%,1/1/18,$1.04,1/4/18,$1.64,$0.60,XEM
12,51%,1/1/18,$0.48,1/4/18,$0.72,$0.24,XLM
13,12%,1/1/18,$358.99,1/4/18,$403.05,$44.06,XMR
14,34%,1/1/18,$2.39,1/4/18,$3.20,$0.81,XRP

In [167]:
y2017 = top15_yearlyclose_df[["2017 Slope% Change", "2017 Start Date","2017 Start Price","2017 End Date","2017 End Price", "2017 Delta", "Top15 Coins"]]
y2017

,2017 Slope% Change,2017 Start Date,2017 Start Price,2017 End Date,2017 End Price,2017 Delta,Top15 Coins
0,2782%,10/1/17,$0.02,12/31/17,$0.72,$0.70,ADA
1,49660%,1/20/17,$0.84,12/31/17,$418.96,$418.12,BCC
2,1318%,1/1/17,$998.33,12/31/17,"$14,156.40","$13,158.07",BTC
3,20%,12/11/17,$254.45,12/22/17,$305.73,$51.28,BTG
4,9265%,1/1/17,$11.23,12/31/17,"$1,051.68","$1,040.45",DASH
5,768%,7/1/17,$1.01,12/31/17,$8.77,$7.76,EOS
6,1900%,1/1/17,$1.40,12/31/17,$28.00,$26.60,ETC
7,9162%,1/1/17,$8.17,12/31/17,$756.73,$748.56,ETH
8,5046%,1/1/17,$4.51,12/31/17,$232.10,$227.59,LTC
9,501%,6/13/17,$0.59,12/31/17,$3.55,$2.96,MIOTA
10,53453%,1/1/17,$0.14,12/31/17,$75.96,$75.82,NEO
11,29842%,1/1/17,$0.00,12/31/17,$1.03,$1.03,XEM
12,14441%,1/1/17,$0.00,12/31/17,$0.36,$0.36,XLM
13,2398%,1/1/17,$13.97,12/31/17,$349.03,$335.06,XMR
14,36018%,1/1/17,$0.01,12/31/17,$2.30,$2.29,XRP

In [168]:
y2016 = top15_yearlyclose_df[["2016 Slope% Change", "2016 Start Date","2016 Start Price","2016 End Date","2016 End Price", "2016 Delta", "Top15 Coins"]]
y2016

,2016 Slope% Change,2016 Start Date,2016 Start Price,2016 End Date,2016 End Price,2016 Delta,Top15 Coins
0,,,,,,,ADA
1,,,,,,,BCC
2,122%,1/1/16,$434.33,12/31/16,$963.74,$529.41,BTC
3,,,,,,,BTG
4,232%,1/1/16,$3.38,12/31/16,$11.21,$7.83,DASH
5,,,,,,,EOS
6,52%,7/24/16,$0.93,12/31/16,$1.41,$0.48,ETC
7,741%,1/1/16,$0.95,12/31/16,$7.97,$7.02,ETH
8,23%,1/1/16,$3.51,12/31/16,$4.33,$0.82,LTC
9,,,,,,,MIOTA
10,-74%,9/9/16,$0.56,12/31/16,$0.14,($0.41),NEO
11,2169%,1/1/16,$0.00,12/31/16,$0.00,$0.00,XEM
12,41%,1/1/16,$0.00,12/31/16,$0.00,$0.00,XLM
13,2668%,1/1/16,$0.50,12/31/16,$13.78,$13.28,XMR
14,8%,1/1/16,$0.01,12/31/16,$0.01,$0.00,XRP

In [169]:
y2015 = top15_yearlyclose_df[["2015 Slope% Change", "2015 Start Date","2015 Start Price","2015 End Date","2015 End Price", "2015 Delta", "Top15 Coins"]]
y2015

,2015 Slope% Change,2015 Start Date,2015 Start Price,2015 End Date,2015 End Price,2015 Delta,Top15 Coins
0,,,,,,,ADA
1,,,,,,,BCC
2,37%,1/1/15,$314.25,12/31/15,$430.57,$116.32,BTC
3,,,,,,,BTG
4,69%,1/1/15,$1.94,12/31/15,$3.27,$1.33,DASH
5,,,,,,,EOS
6,,,,,,,ETC
7,-66%,8/7/15,$2.77,12/31/15,$0.93,($1.84),ETH
8,29%,1/1/15,$2.70,12/31/15,$3.48,$0.78,LTC
9,,,,,,,MIOTA
10,,,,,,,NEO
11,-38%,4/1/15,$0.00,12/31/15,$0.00,$0.00,XEM
12,-68%,1/1/15,$0.01,12/31/15,$0.00,$0.00,XLM
13,1%,1/1/15,$0.47,12/31/15,$0.47,$0.01,XMR
14,-75%,1/1/15,$0.02,12/31/15,$0.01,($0.02),XRP

In [170]:
y2015 = top15_yearlyclose_df[["2015 Slope% Change", "2015 Start Date","2015 Start Price","2015 End Date","2015 End Price", "2015 Delta", "Top15 Coins"]]
y2015

,2015 Slope% Change,2015 Start Date,2015 Start Price,2015 End Date,2015 End Price,2015 Delta,Top15 Coins
0,,,,,,,ADA
1,,,,,,,BCC
2,37%,1/1/15,$314.25,12/31/15,$430.57,$116.32,BTC
3,,,,,,,BTG
4,69%,1/1/15,$1.94,12/31/15,$3.27,$1.33,DASH
5,,,,,,,EOS
6,,,,,,,ETC
7,-66%,8/7/15,$2.77,12/31/15,$0.93,($1.84),ETH
8,29%,1/1/15,$2.70,12/31/15,$3.48,$0.78,LTC
9,,,,,,,MIOTA
10,,,,,,,NEO
11,-38%,4/1/15,$0.00,12/31/15,$0.00,$0.00,XEM
12,-68%,1/1/15,$0.01,12/31/15,$0.00,$0.00,XLM
13,1%,1/1/15,$0.47,12/31/15,$0.47,$0.01,XMR
14,-75%,1/1/15,$0.02,12/31/15,$0.01,($0.02),XRP

In [171]:
y2013 = top15_yearlyclose_df[["2013 Slope% Change", "2013 Start Date","2013 Start Price","2013 End Date","2013 End Price", "2013 Delta", "Top15 Coins"]]
y2013

,2013 Slope% Change,2013 Start Date,2013 Start Price,2013 End Date,2013 End Price,2013 Delta,Top15 Coins
0,,,,,,,ADA
1,,,,,,,BCC
2,462%,4/28/13,$134.21,12/31/13,754.01,$619.80,BTC
3,,,,,,,BTG
4,,,,,,,DASH
5,,,,,,,EOS
6,,,,,,,ETC
7,,,,,,,ETH
8,460%,4/28/13,$4.35,12/31/13,24.35,$20.00,LTC
9,,,,,,,MIOTA
10,,,,,,,NEO
11,,,,,,,XEM
12,,,,,,,XLM
13,,,,,,,XMR
14,365%,8/4/13,$0.01,12/31/13,0.02733,$0.02,XRP

In [ ]:
#yoy_closeprice=yoy_closeprice.astype(str)
#Plotting data
plt.style.use('seaborn')
x = np.arange(15)
yoy_closeprice.plot(kind = 'bar', x = 'Top15 Coins', y = '2017 Slope% Change',legend = False, figsize = (20, 10))
plt.ylabel('Year Over Year Slope% Change', fontsize = 20)
plt.xlabel('', fontsize = 20)
plt.title('Yearly Percentage Change in Price', fontsize = 28)

plt.xticks(fontsize = 17)
plt.yticks(fontsize = 17)
for a,b in zip(x, yoy_closeprice['2013 Slope% Change']):
    b = round(b,2)
    plt.text(a-0.2, b + 1.5, str(b), color='black',fontsize = 15)
plt.show()